.prompt-card-fit-div {
  position: fixed;
  z-index: 10;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.155);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  .prompt-card {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
      0px 24px 38px 3px rgba(0, 0, 0, 0.14);
    transition: all 0.4s ease;
  }
}

// ===== Other Styles =====
.cardContent {
  margin: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

$iconSize: 30px;
.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .closeBtn {
    height: $iconSize;
    width: $iconSize;
  }
  .closeBtn:hover {
    cursor: pointer;
  }
}

.mainWindow {
  div {
    display: flex;
    flex-direction: column;
  }
  div p {
    font-size: large;
    color: #2e2e2e;
  }
  div .inputField {
    padding: 10px 10px;
    line-height: 28px;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: large;
    background-color: rgb(255, 255, 255);
  }
  div .btn {
    padding: 10px 10px;
    line-height: 28px;
    margin-bottom: 1rem;
    font-weight: bold;
    background-color: rgb(227, 255, 125);
    border-radius: 5px;
    border-width: 0px;
    font-size: large;
  }
  div .btn:hover {
    cursor: pointer;
  }
}

.prompt-input {
  margin-top: 10px;
  input {
    padding: 10px 10px;
    line-height: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }
}

.updateWindow {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .basicInfo {
    display: flex;
    flex-direction: row;
    .prompt-input {
      width: 40%;
    }
    .age {
      width: 15%;
    }
    margin-bottom: 30px;
  }
  .building-prompt-content {
    .prompt-input {
      margin-top: 10px;
      input {
        padding: 5px 5px;
        line-height: 20px;
        margin-top: 3px;
        margin-bottom: 3px;
        font-weight: bold;
        font-size: medium;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
      }
    }
  }
}

.building-submit {
  margin-top: 20px;
}

.delete {
  p {
    color: gray;
  }
  button {
    padding: 10px 10px;
    line-height: 28px;
    margin-bottom: 1rem;
    font-weight: bold;
    background-color: rgb(227, 255, 125);
    border-radius: 5px;
    border-width: 0px;
    font-size: large;
  }
  button:hover {
    cursor: pointer;
  }
}
