.prompt-card-fit-div {
  width: 100vw;
  position: fixed;
  z-index: 10;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.207);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prompt-card-fit-div .prompt-card {
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14);
}

.cardContent {
  margin: 10px 30px 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topRow .closeBtn {
  height: 30px;
  width: 30px;
}

.topRow .closeBtn:hover {
  cursor: pointer;
}

.mainWindow div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainWindow div p {
  font-size: large;
  color: #2e2e2e;
}

.mainWindow div .inputField {
  padding: 10px 10px;
  line-height: 28px;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: large;
  background-color: white;
}

.mainWindow div .btn {
  padding: 10px 10px;
  line-height: 28px;
  margin-bottom: 1rem;
  font-weight: bold;
  background-color: #e3ff7d;
  border-radius: 5px;
  border-width: 0px;
  font-size: large;
}

.mainWindow div .btn:hover {
  cursor: pointer;
}

.prompt-input {
  margin-top: 10px;
}

.prompt-input input {
  padding: 10px 10px;
  line-height: 28px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
  background-color: white;
}

.updateWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.updateWindow .basicInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
}

.updateWindow .basicInfo .prompt-input {
  width: 40%;
}

.updateWindow .basicInfo .age {
  width: 15%;
}

.updateWindow .building-prompt-content .prompt-input {
  margin-top: 10px;
}

.updateWindow .building-prompt-content .prompt-input input {
  padding: 5px 5px;
  line-height: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: medium;
  border-radius: 5px;
  background-color: white;
}

.building-submit {
  margin-top: 20px;
}

.delete p {
  color: gray;
}

.delete button {
  padding: 10px 10px;
  line-height: 28px;
  margin-bottom: 1rem;
  font-weight: bold;
  background-color: #e3ff7d;
  border-radius: 5px;
  border-width: 0px;
  font-size: large;
}

.delete button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=promptCard.css.map */