.signUpPage {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  color: rgb(110, 157, 0);
  text-decoration: none;
  font-weight: 700;
  margin-top: 0px;
}

.bot {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.signUpPage .cardWrap {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.307);
  padding: 0rem, 2.5rem, 2.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  width: 400px;
}

.basicInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  .inputField {
    padding: 10px 10px;
    line-height: 28px;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: large;
    width: 40%;
  }
  .age {
    width: 10%;
  }
}

.cancel {
  text-align: center;
  color: grey;
}

.cancel:hover {
  cursor: pointer;
  text-decoration: underline;
}
