.displayTable {
  border-collapse: collapse;
  font-family: "Montsrrat" sans-serif;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  th,
  td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: left;
    //border: 1px solid #607ee0;
  }
  td:first-child,
  th:first-child {
    padding-left: 30px;
  }
  td:last-child,
  th:last-child {
    padding-right: 30px;
  }
  th {
    padding-top: 20px;
    font-weight: 600;
    color: #393939;
  }
  td {
    color: #3d3d3d;
  }
  thead tr {
    border-bottom: 2px solid #bbbbbb;
  }
  tbody tr {
    border-bottom: 1px solid #d9d9d9;
  }
  tbody tr:nth-of-type(even) {
    background-color: #f6f6f6;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
}

.interactiveTable {
  .statusCircle {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    min-width: 10px;
    border-style: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  .statusInCol {
    margin-left: 30%;
  }
  tbody tr:not(:last-child) {
    transition: all 0.2s ease;
  }
  tbody tr:not(:last-child):hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    .footerBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 7px;
      margin-right: 20px;
    }
  }
}
