@mixin theme {
  font-family: "Montsrrat" sans-serif;
}

$cardBorderRadius: 10px;
$cardPadding: 20px 0px 20px 0px;
$cardShadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
$contentMargin: 40px;
$standardTransition: all 0.2s ease;
$graphColor: #5baba0;
$graphColor: #122a65;
:export {
  graphColor: $graphColor;
}

// section Wrapper styling
.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 80%;
  @include theme();
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #242424;
  }
  .card {
    width: 100%;
    background: #ffffff;
    box-shadow: $cardShadow;
    border-radius: $cardBorderRadius;
    padding: $cardPadding;
    position: relative;
    .cardHeader {
      display: flex;
      flex-direction: row;
      justify-content: start;
      margin-left: $contentMargin;
      .tab {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        transition: $standardTransition;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      .tab:hover {
        cursor: pointer;
        background-color: #e3e3e3;
      }
    }
    .line {
      height: 2px;
      background-color: #979797;
      width: 100%;
      margin-bottom: 20px;
    }
    .underline {
      height: 5px;
      background-color: $graphColor;
      position: absolute;
      transition: $standardTransition;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    .graphWrapper {
      width: 100%;
      height: 250px;
    }
  }
}

.reportField {
  .reportFieldInput {
    margin-top: 5px;
    border: 1px solid transparent;
    background-color: #edeff2;
    border-radius: 5px;
    line-height: 2rem;
    transition: all 0.3s ease;
  }
  .reportFieldInput:focus {
    outline: none;
    border: 1px solid #c0e193;
    background-color: white;
  }
}

.reportContent {
  margin: $contentMargin/2 $contentMargin $contentMargin $contentMargin;
}

body
  > div.MuiPickersPopper-root.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root.MuiPopper-root
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPickersPopper-paper.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper
  > div
  > div.MuiPickersLayout-contentWrapper.css-16b5y55-MuiPickersLayout-contentWrapper
  > div
  > ul
  > li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.Mui-selected.MuiMenuItem-root.MuiMenuItem-gutters.Mui-selected.css-1yfswlc-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item {
  border-radius: 3px;
}
