.prompt-card-fit-div {
  width: 100vw;
  position: fixed;
  z-index: 10;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.207);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt-card-fit-div .prompt-card {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14);
}

.cardContent {
  margin: 10px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

$iconSize: 30px;
.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .closeBtn {
    height: $iconSize;
    width: $iconSize;
  }
  .closeBtn:hover {
    cursor: pointer;
  }
}

.mainWindow {
  div {
    display: flex;
    flex-direction: column;
  }
  div p {
    font-size: large;
    color: #2e2e2e;
  }
  div .inputField {
    padding: 10px 10px;
    line-height: 28px;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: large;
    background-color: rgb(255, 255, 255);
  }
  div .btn {
    padding: 10px 10px;
    line-height: 28px;
    margin-bottom: 1rem;
    font-weight: bold;
    background-color: rgb(227, 255, 125);
    border-radius: 5px;
    border-width: 0px;
    font-size: large;
  }
}
