@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

.veryTop.shadow {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.124);
}

.veryTop {
  @include flexRow();
  transition: box-shadow 0.2s ease;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: $primary;
  padding: 5px 30px 5px 30px;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  z-index: 10;
  .smallScreenNavBar {
  }
  @media (min-width: 767px) {
    .smallScreenNavBar {
      display: none;
    }
  }
  .buildingDropdown {
    width: 150px;
  }
  .accountBlock {
    @include flexRow();
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    transition: all 0.2s ease;
    .account {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      background-color: rgb(255, 255, 255);
    }
    .accountName {
      font-family: "Montserrat";
      color: #444444;
      font-size: 12px;
      padding: 5px;
    }
    .accountTriangle {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 5px 7px 5px;
      border-radius: 2px;
      border-color: transparent transparent #6b6b6b transparent;
      transition: transform 0.2s ease;
      rotate: 180deg;
    }
  }
  .accountBlock:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.608);
  }
}

.topBanner {
  @include flexCol();
  width: 100%;
  background: $primary;
  background: linear-gradient(155deg, transparent 0 80%, rgba(white, 0.2) 20%),
    linear-gradient(45deg, transparent 0 70%, rgba(white, 0.2) 30%), $primary;
  border-radius: 0px 0px 10px 10px;
  padding: 30px 30px 30px 30px;
  box-sizing: border-box;
  align-items: start;
  overflow-y: hidden;
  .title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .summaryWrapper {
    @include flexCol();
    align-items: start;
    justify-content: start;
    gap: 10px;
    // margin-left: 5%;
    .summaryHeader {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 20px;
      line-height: 37px;
      color: #000000;
    }
    .summaryRow {
      @include flexRow();
      flex-wrap: wrap;
      justify-content: start;
      gap: 50px;
      width: 100%;
    }
  }
}

.summaryItem {
  @include flexRow();
  gap: 10px;
  align-items: center;
  $size: 30px;
  margin-bottom: 10px;
  .icon {
    border-radius: 50%;
    height: $size;
    width: $size;
    padding: 7px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sumTitle {
    font-family: "Montserrat";
    font-weight: 500;
    color: rgba($on-light, map-get($opacity, "medium"));
    font-size: $size/2;
  }
  .sumData {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: $size/2;
    .inspect {
      text-decoration: underline;
      font-weight: 600;
    }
    .inspect:hover {
      cursor: pointer;
    }
  }
}
